/* [project]/src/components/ProductsList/ProductsList.module.scss.module.css [client] (css) */
.ProductsList-module-scss-module__Nm8h3a__container {
  padding-inline: 16px;
}

@media (min-width: 640px) {
  .ProductsList-module-scss-module__Nm8h3a__container {
    padding-inline: 24px;
  }
}

@media (min-width: 1135px) {
  .ProductsList-module-scss-module__Nm8h3a__container {
    max-width: 1136px;
    margin-inline: auto;
  }
}

.ProductsList-module-scss-module__Nm8h3a__products-list {
  --columns: 4;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 16px;
  display: grid;
}

@media (min-width: 640px) {
  .ProductsList-module-scss-module__Nm8h3a__products-list {
    --columns: 12;
  }
}

@media (min-width: 1135px) {
  .ProductsList-module-scss-module__Nm8h3a__products-list {
    --columns: 24;
  }
}

.ProductsList-module-scss-module__Nm8h3a__products-list {
  row-gap: 40px;
}

.ProductsList-module-scss-module__Nm8h3a__products-list__card {
  grid-column: 1 / -1;
}

@media (min-width: 640px) {
  .ProductsList-module-scss-module__Nm8h3a__products-list__card {
    grid-column: span 6;
  }
}

@media (min-width: 768px) {
  .ProductsList-module-scss-module__Nm8h3a__products-list__card {
    grid-column: span 4;
  }
}

@media (min-width: 1135px) {
  .ProductsList-module-scss-module__Nm8h3a__products-list__card {
    grid-column: span 6;
  }
}

/* [project]/src/components/ProductCard/ProductCard.module.scss.module.css [client] (css) */
.ProductCard-module-scss-module___HK1Jq__container {
  padding-inline: 16px;
}

@media (min-width: 640px) {
  .ProductCard-module-scss-module___HK1Jq__container {
    padding-inline: 24px;
  }
}

@media (min-width: 1135px) {
  .ProductCard-module-scss-module___HK1Jq__container {
    max-width: 1136px;
    margin-inline: auto;
  }
}

.ProductCard-module-scss-module___HK1Jq__product-card {
  box-sizing: border-box;
  background-color: #161827;
  border: 1px solid #0000;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  padding: 32px;
  display: flex;
}

.ProductCard-module-scss-module___HK1Jq__product-card:hover {
  border: 1px solid #323542;
}

.ProductCard-module-scss-module___HK1Jq__product-card__img {
  object-fit: contain;
  aspect-ratio: 208 / 196;
  width: 100%;
  height: 100%;
}

.ProductCard-module-scss-module___HK1Jq__product-card__img__img-container {
  height: 100%;
}

.ProductCard-module-scss-module___HK1Jq__product-card__title {
  flex: 1;
}

.ProductCard-module-scss-module___HK1Jq__product-card__price-row {
  gap: 8px;
  display: flex;
}

.ProductCard-module-scss-module___HK1Jq__product-card__price-prev {
  color: #75767f;
  font-weight: 600;
  text-decoration: line-through;
}

.ProductCard-module-scss-module___HK1Jq__product-card__line {
  background-color: #3b3e4a;
  border: none;
  width: 100%;
  height: 1px;
  margin: 0;
  padding: 0;
}

.ProductCard-module-scss-module___HK1Jq__product-card__info {
  flex-direction: column;
  gap: 8px;
  padding-block: 8px;
  display: flex;
}

.ProductCard-module-scss-module___HK1Jq__product-card__info-row {
  justify-content: space-between;
  display: flex;
}

.ProductCard-module-scss-module___HK1Jq__product-card__info-name {
  color: #75767f;
}

/* [project]/src/components/PaymentsButtons/PaymentsButtons.module.scss.module.css [client] (css) */
.PaymentsButtons-module-scss-module__JD2l7G__payments__buttons {
  gap: 8px;
  width: 100%;
  height: 40px;
  display: flex;
}

.PaymentsButtons-module-scss-module__JD2l7G__payments__buttons.PaymentsButtons-module-scss-module__JD2l7G__page {
  height: 48px;
}

.PaymentsButtons-module-scss-module__JD2l7G__payments__buttons-add {
  flex: 1;
}

/* [project]/src/components/Button/Button.module.scss.module.css [client] (css) */
.Button-module-scss-module__HB5Z3q__container {
  padding-inline: 16px;
}

@media (min-width: 640px) {
  .Button-module-scss-module__HB5Z3q__container {
    padding-inline: 24px;
  }
}

@media (min-width: 1135px) {
  .Button-module-scss-module__HB5Z3q__container {
    max-width: 1136px;
    margin-inline: auto;
  }
}

.Button-module-scss-module__HB5Z3q__button {
  background-color: #323542;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: all .3s;
  display: flex;
}

.Button-module-scss-module__HB5Z3q__button:hover {
  background-color: #4a4d58;
}

.Button-module-scss-module__HB5Z3q__button:disabled {
  cursor: default;
}

.Button-module-scss-module__HB5Z3q__button__disabled {
  color: #4a4d58;
  box-sizing: border-box;
  background: none;
  border: 1px solid #3b3e4a;
}

.Button-module-scss-module__HB5Z3q__button__disabled:hover {
  background: none;
}

.Button-module-scss-module__HB5Z3q__ratio {
  aspect-ratio: 1;
}

.Button-module-scss-module__HB5Z3q__heart.Button-module-scss-module__HB5Z3q__selected {
  color: #eb5757;
}

.Button-module-scss-module__HB5Z3q__primary {
  background-color: #905bff;
}

.Button-module-scss-module__HB5Z3q__primary:hover {
  background-color: #a378ff;
}

.Button-module-scss-module__HB5Z3q__primary.Button-module-scss-module__HB5Z3q__selected {
  background-color: #323542;
}

.Button-module-scss-module__HB5Z3q__primary.Button-module-scss-module__HB5Z3q__selected:hover {
  background-color: #3b3e4a;
}

.Button-module-scss-module__HB5Z3q__page {
  background-color: #161827;
}

.Button-module-scss-module__HB5Z3q__page:hover {
  background-color: #3b3e4a;
}

.Button-module-scss-module__HB5Z3q__page--dots {
  border: none;
}

.Button-module-scss-module__HB5Z3q__page.Button-module-scss-module__HB5Z3q__selected {
  background-color: #905bff;
}

.Button-module-scss-module__HB5Z3q__circle {
  box-sizing: border-box;
  background-color: currentColor;
  border: 2px solid #0f1121;
  border-radius: 100%;
  outline: 1px solid #3b3e4a;
}

.Button-module-scss-module__HB5Z3q__circle:hover {
  background-color: currentColor;
  outline-color: #4a4d58;
}

.Button-module-scss-module__HB5Z3q__circle.Button-module-scss-module__HB5Z3q__selected {
  outline-color: #f1f2f9;
}

.Button-module-scss-module__HB5Z3q__capacity {
  background-color: #0000;
  border: 1px solid #4a4d58;
  padding-inline: 8px;
}

.Button-module-scss-module__HB5Z3q__capacity:hover {
  background-color: #323542;
}

.Button-module-scss-module__HB5Z3q__capacity.Button-module-scss-module__HB5Z3q__selected {
  color: #0f1121;
  background-color: #f1f2f9;
  border-color: #0000;
}

.Button-module-scss-module__HB5Z3q__capacity.Button-module-scss-module__HB5Z3q__selected:hover {
  background-color: #f1f2f9;
}

/* [project]/src/components/Breadcrumbs/Breadcrumbs.module.scss.module.css [client] (css) */
.Breadcrumbs-module-scss-module__Ir3W5a__container {
  padding-inline: 16px;
}

@media (min-width: 640px) {
  .Breadcrumbs-module-scss-module__Ir3W5a__container {
    padding-inline: 24px;
  }
}

@media (min-width: 1135px) {
  .Breadcrumbs-module-scss-module__Ir3W5a__container {
    max-width: 1136px;
    margin-inline: auto;
  }
}

.Breadcrumbs-module-scss-module__Ir3W5a__breadcrumbs {
  align-items: center;
  column-gap: 8px;
  margin-block: 24px;
  display: flex;
}

.Breadcrumbs-module-scss-module__Ir3W5a__breadcrumbs__item {
  font-size: 12px;
  font-weight: 700;
  line-height: 100%;
}

.Breadcrumbs-module-scss-module__Ir3W5a__breadcrumbs__item.Breadcrumbs-module-scss-module__Ir3W5a__active {
  color: #75767f;
}

.Breadcrumbs-module-scss-module__Ir3W5a__breadcrumbs__arrow {
  color: #4a4d58;
}

/* [project]/src/components/Loader/Loader.scss.css [client] (css) */
.Loader {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.Loader__content {
  border: .3em solid #ddd;
  border-left-color: #000;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  margin: 1em auto;
  animation: 1.2s linear infinite load8;
}

@keyframes load8 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* [project]/src/pages/favorites/FavoritesPage.module.scss.module.css [client] (css) */
.FavoritesPage-module-scss-module__7S0qYq__container {
  padding-inline: 16px;
}

@media (min-width: 640px) {
  .FavoritesPage-module-scss-module__7S0qYq__container {
    padding-inline: 24px;
  }
}

@media (min-width: 1135px) {
  .FavoritesPage-module-scss-module__7S0qYq__container {
    max-width: 1136px;
    margin-inline: auto;
  }
}

.FavoritesPage-module-scss-module__7S0qYq__favorites__empty {
  text-align: center;
  font-weight: 300;
}

/*# sourceMappingURL=src_f048c242._.css.map*/