/* [project]/src/pages/cart/CartPage.module.scss.module.css [client] (css) */
.CartPage-module-scss-module__8MX3ba__container {
  padding-inline: 16px;
}

@media (min-width: 640px) {
  .CartPage-module-scss-module__8MX3ba__container {
    padding-inline: 24px;
  }
}

@media (min-width: 1135px) {
  .CartPage-module-scss-module__8MX3ba__container {
    max-width: 1136px;
    margin-inline: auto;
  }
}

.CartPage-module-scss-module__8MX3ba__cart__info {
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
  margin-bottom: 32px;
  display: flex;
}

@media (min-width: 640px) {
  .CartPage-module-scss-module__8MX3ba__cart__info {
    gap: 16px;
    margin-top: 40px;
  }
}

.CartPage-module-scss-module__8MX3ba__cart__block {
  --columns: 4;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 16px;
  display: grid;
}

@media (min-width: 640px) {
  .CartPage-module-scss-module__8MX3ba__cart__block {
    --columns: 12;
  }
}

@media (min-width: 1135px) {
  .CartPage-module-scss-module__8MX3ba__cart__block {
    --columns: 24;
  }
}

.CartPage-module-scss-module__8MX3ba__cart__block {
  row-gap: 32px;
}

.CartPage-module-scss-module__8MX3ba__cart__wrapper {
  flex-direction: column;
  grid-column: 1 / -1;
  row-gap: 16px;
  display: flex;
}

@media (min-width: 1135px) {
  .CartPage-module-scss-module__8MX3ba__cart__wrapper {
    grid-column: 1 / 17;
  }
}

.CartPage-module-scss-module__8MX3ba__cart__item {
  background-color: #161827;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 16px;
  display: flex;
}

@media (min-width: 640px) {
  .CartPage-module-scss-module__8MX3ba__cart__item {
    gap: 24px;
    padding: 24px;
  }
}

.CartPage-module-scss-module__8MX3ba__cart__item-remove {
  background-color: #4a4d58;
}

.CartPage-module-scss-module__8MX3ba__cart__item-photo {
  aspect-ratio: 1;
  justify-content: center;
  height: 80px;
  display: flex;
}

.CartPage-module-scss-module__8MX3ba__cart__item-img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  margin: 7px;
}

.CartPage-module-scss-module__8MX3ba__cart__item-title {
  flex: 1;
  min-width: 13ch;
}

.CartPage-module-scss-module__8MX3ba__cart__item-counter {
  align-items: center;
  gap: 1em;
  height: 32px;
  display: flex;
}

.CartPage-module-scss-module__8MX3ba__cart__total {
  border: 1px solid #3b3e4a;
  flex-direction: column;
  grid-column: 1 / -1;
  align-items: center;
  height: fit-content;
  padding: 24px;
  display: flex;
}

@media (min-width: 1135px) {
  .CartPage-module-scss-module__8MX3ba__cart__total {
    grid-column: 17 / -1;
  }
}

.CartPage-module-scss-module__8MX3ba__cart__total-count {
  color: #75767f;
}

.CartPage-module-scss-module__8MX3ba__cart__total-line {
  margin: 0;
  background-color: #3b3e4a;
  border: none;
  width: 100%;
  height: 1px;
  margin-block: 24px;
}

.CartPage-module-scss-module__8MX3ba__cart__total-checkout {
  width: 100%;
  height: 48px;
}

.CartPage-module-scss-module__8MX3ba__cart-modal {
  background-color: #fff;
  gap: 32px;
  padding: 32px;
}

.CartPage-module-scss-module__8MX3ba__cart-modal__buttons {
  flex-direction: column;
  gap: 16px;
  width: 100%;
  display: flex;
}

@media (min-width: 640px) {
  .CartPage-module-scss-module__8MX3ba__cart-modal__buttons {
    flex-direction: row;
    gap: 32px;
    height: 40px;
  }
}

.CartPage-module-scss-module__8MX3ba__cart-modal__button {
  flex: 1;
  width: 100%;
  min-height: 40px;
}

/*# sourceMappingURL=src_pages_cart_CartPage_module_scss_module_css_65f1660e._.single.css.map*/